body {
  background-image: url("./images/background.png"), linear-gradient(-90deg, #b5f7ff 0%, #5ba7cb 100%);
  background-size: 100%;
  padding: 0px;
  margin: 0px;
}

@font-face {
  font-family: "Cardenio Modern";
  src: url("./fonts/CardenioModern-Regular.woff2") format("woff2"), url("./fonts/CardenioModern-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "A little sunshine";
  src: url("./fonts/Alittlesunshine.woff2") format("woff2"), url("./fonts/Alittlesunshine.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.bird_app {
  position: relative;
  font-family: "Cardenio Modern";
  width: 90%;
  margin: auto;
}
.bird_app h1 {
  color: white;
  font-size: 28pt;
}
.bird_app h2 {
  color: white;
  font-size: 24pt;
  text-align: center;
}
.bird_app p {
  font-size: 15pt;
}
.bird_app button {
  border: 0px solid #eee;
  font-size: 16pt;
  height: 50px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("./images/buttonBackground.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: black;
  border-radius: 3px;
  padding: 10px;
  margin: 8px 20px 9px 0;
  cursor: pointer;
  font-family: "Cardenio Modern";
  min-width: 160px;
  position: relative;
}
.bird_app button:hover {
  box-shadow: inset 0 0 0 1000px rgba(192, 174, 14, 0.2);
}
.bird_app button:disabled {
  color: #aaa;
  box-shadow: inset 0 0 0 1000px rgba(112, 112, 112, 0.2);
  cursor: default;
}
.bird_app select {
  text-align: center;
  min-width: 160px;
  font-family: "Cardenio Modern";
  height: 50px;
  padding: 10px;
  margin: 8px 20px 8px 0;
  font-size: 16pt;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("./images/buttonBackground.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}
.bird_app select:focus {
  border-color: skyblue;
}
.bird_app input[type=text] {
  width: 380px;
}
.bird_app input[type=number] {
  width: 70px;
}
.bird_app input[type=text], .bird_app input[type=number] {
  height: 30px;
  font-family: "Cardenio Modern";
  padding: 10px;
  margin: 8px 20px 8px 0;
  font-size: 16pt;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("./images/buttonBackground.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  outline: none;
}
.bird_app input[type=text]:focus, .bird_app input[type=number]:focus {
  border-color: skyblue;
}
.bird_app .speciesDisplay {
  position: relative;
}
.bird_app .speciesDisplay button {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
}
.bird_app .speciesDisplay p {
  text-align: center;
}
.bird_app .speciesDisplay .speciesDisplayCollapsableContent {
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  padding: 20px 20px 70px;
  justify-content: space-around;
  box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.19), inset 0px 0px 21px 0px rgba(0, 0, 0, 0.19), inset 0px 0px 21px 0px rgba(0, 0, 0, 0.19);
}
.bird_app .speciesDisplay .speciesDisplayCollapsableContent.closed {
  height: 120px;
  mask-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0) 10%, rgb(0, 0, 0) 80%, rgba(0, 0, 0, 0));
  overflow-y: hidden;
}
.bird_app .speciesDisplay .speciesDisplayCollapsableContent.opened {
  height: 350px;
  mask-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0) 5%, rgb(0, 0, 0) 95%, rgba(0, 0, 0, 0));
}
.bird_app .speciesDisplay .speciesDisplayCollapsableContent.opened .polaroid {
  cursor: pointer;
}
.bird_app .speciesDisplay .speciesDisplayCollapsableContent.single {
  box-shadow: none;
  padding: 20px;
}
.bird_app .speciesDisplay .speciesDisplayCollapsableContent .polaroid {
  margin: 20px;
  width: 280px;
  height: 250px;
  background-image: url("./images/polaroid.png");
  background-size: contain;
  padding: 15px;
  box-shadow: 1px 1px 7px 2px rgba(44, 44, 44, 0.25);
  position: relative;
}
.bird_app .speciesDisplay .speciesDisplayCollapsableContent .polaroid.selected::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  height: 37px;
  width: 30px;
  top: -10px;
  background-image: url("./images/Pin.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 5;
}
.bird_app .speciesDisplay .speciesDisplayCollapsableContent .polaroid.selected::after {
  content: "";
  position: absolute;
  right: 15px;
  margin: auto;
  height: 20px;
  width: 20px;
  bottom: 10px;
  background-image: url("./images/HeartDrawing.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 5;
}
.bird_app .speciesDisplay .speciesDisplayCollapsableContent .polaroid > div {
  margin: 0px auto;
  width: 280px;
  height: 200px;
  position: relative;
}
.bird_app .speciesDisplay .speciesDisplayCollapsableContent .polaroid > div.hidden::after {
  background-color: black;
}
.bird_app .speciesDisplay .speciesDisplayCollapsableContent .polaroid > div::after {
  transition: background-color 3s ease;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: inset 0px 0px 3px 1px rgba(44, 44, 44, 0.25);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
.bird_app .speciesDisplay .speciesDisplayCollapsableContent .polaroid > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bird_app .speciesDisplay .speciesDisplayCollapsableContent .polaroid > span {
  font-family: "A little sunshine";
  display: block;
  margin-left: 10px;
}
.bird_app .speciesDisplay .speciesDisplayCollapsableContent .polaroid > span.common_name {
  font-size: 15pt;
}
.bird_app .speciesDisplay .speciesDisplayCollapsableContent .polaroid > span.scientific_name {
  font-size: 12pt;
  color: #777;
}
.bird_app .sightingsDisplay {
  background-image: url("./images/PaperTexture.png");
  width: 90%;
  margin: 60px auto 30px;
  padding: 10px 0px 20px 0;
  box-shadow: 1px 1px 7px 2px rgba(44, 44, 44, 0.25);
  font-family: "A little sunshine";
  height: 800px;
  position: relative;
}
.bird_app .sightingsDisplay .binderRings {
  position: absolute;
  height: 60px;
  margin: 0 1%;
  background-image: url("./images/BinderRing.png");
  top: -40px;
  left: 0;
  right: 0;
  background-size: auto 100%;
  background-position: left;
  background-repeat: space;
}
.bird_app .sightingsDisplay .sightingsContent {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.bird_app .sightingsDisplay .sightingsContent .sightingsList {
  padding: 0px 20px;
  overflow-y: auto;
  height: 50%;
}
.bird_app .sightingsDisplay .sightingsContent .sightingsList li {
  list-style: none;
  font-size: 14pt;
  margin: 0 0 20px;
}
.bird_app .sightingsDisplay .sightingsContent .sightingsList li span.common_name {
  font-size: 19pt;
}
.bird_app .sightingsDisplay .sightingsContent .sightingsList li span.scientific_name {
  font-size: 16pt;
  color: #777;
}
.bird_app .sightingsDisplay .sightingsContent .birdSightingMapDisplay {
  margin: 0 20px;
  height: 50%;
  max-width: 100%;
}
.bird_app .sightingsDisplay .sightingsContent .birdSightingMapDisplay .leaflet-container {
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.bird_app .bird_search_bar {
  z-index: 1;
  position: relative;
  padding: 10px;
  width: fit-content;
  margin: auto;
}
.bird_app .bird_search_bar fieldset {
  position: relative;
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  border: none;
  padding: 2px 0px;
  width: fit-content;
}
.bird_app .bird_search_bar fieldset .bird_species_search_tool {
  display: flex;
  flex-direction: column;
  width: 396px;
}
.bird_app .bird_search_bar fieldset .bird_species_search_tool input {
  margin: 8px 20px 8px 0;
}
.bird_app .bird_search_bar fieldset .bird_species_search_tool input.open {
  border-radius: 4px 4px 0 0;
}
.bird_app .bird_search_bar fieldset .bird_species_search_tool input.open:focus {
  border-color: skyblue skyblue #eee skyblue;
}
.bird_app .bird_search_bar fieldset .bird_species_search_tool input.open:focus + .drop-down-menu .drop-down-scroll-container {
  border-color: skyblue;
}
.bird_app .bird_search_bar fieldset .bird_species_search_tool .drop_down_menu {
  margin-top: -10px;
  margin-left: 1px;
  height: 0px;
}
.bird_app .bird_search_bar fieldset .bird_species_search_tool .drop_down_menu .drop_down_scroll_container {
  max-height: 300px;
  overflow-y: auto;
  border-color: #eee;
}
.bird_app .bird_search_bar fieldset .bird_species_search_tool .drop_down_menu .drop_down_scroll_container div {
  display: flex;
  flex-direction: column;
  flex: none;
}
.bird_app .bird_search_bar fieldset .bird_species_search_tool .drop_down_menu .drop_down_scroll_container div .species_option {
  background-color: white;
  background-image: url("./images/backgroundRectangle.png");
  min-height: 40px;
  color: inherit;
  border: none;
  border-top: 1px solid #eee;
  padding: 10px;
  margin: 0px;
  border-radius: 0px;
  min-width: 220px;
  font-size: 12pt;
  cursor: pointer;
  outline: inherit;
  text-align: left;
}
.bird_app .bird_search_bar fieldset .bird_species_search_tool .drop_down_menu .drop_down_scroll_container div .species_option:first-child {
  border-top: none;
}
.bird_app .bird_search_bar fieldset .bird_species_search_tool .drop_down_menu .drop_down_scroll_container div .species_option:hover {
  background-color: #eee;
}/*# sourceMappingURL=index.css.map */